<form autocomplete="off" #editTenantForm="ngForm" (ngSubmit)="save()">
    <h1 mat-dialog-title>{{ "EditSchool" | localize }}</h1>
    <mat-dialog-content style="width:400px;">
        <div class="row-fluid">
            <div class="col-md-12">
                <mat-form-field>
                    <input matInput
                           name="TenancyName"
                           [placeholder]="'SchoolName' | localize"
                           [(ngModel)]="tenant.tenancyName"
                           required
                           minlength="2"
                           maxlength="64" />
                </mat-form-field>
                <mat-form-field>
                    <input matInput
                           name="Name"
                           [placeholder]="'Name' | localize"
                           [(ngModel)]="tenant.name"
                           required
                           maxlength="128" />
                </mat-form-field>
                <div class="m-t-10 m-b-10">

                    <input type="file" ng2FileSelect [uploader]="uploader" />

                </div>
                <div class="checkbox-wrapper">
                    <mat-checkbox name="IsActive" [(ngModel)]="tenant.isActive">
                        {{ "IsActive" | localize }}
                    </mat-checkbox>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <div mat-dialog-actions align="end">
        <button mat-button type="button" [disabled]="saving" (click)="close(false)">
            {{ "Cancel" | localize }}
        </button>
        <button mat-flat-button
                type="submit"
                flex="15"
                color="primary"
                [disabled]="!editTenantForm.form.valid || saving">
            {{ "Save" | localize }}
        </button>
    </div>
</form>
